

<% include partials/header %>
<script type="text/javascript" src="/timecalc.js"></script>
<script type="text/javascript" src="/groupedit.js"></script>
<link rel="stylesheet" href="/stylesheets/group.css">

<% if(group.authid.equals(currentUser._id)){ %>
    <% var editable = true; %>
<% } %>

<h2>Welcome to group <span id="gname"><%= group.name %></span></h2><br>

<h3>
    Here you can see the combined common time of all the group members<br>
    as well as all the combinations of members with common time.
</h3>
    
<% if (editable) { %>
    <div id="inc">
        <h4>
        Since you are the creator of this group, you can add or remove group mambers from this page as well.<br><br>
            To add a member to the group simply click on his/her username from your friendlist.<br>
            To remove a member press the "x" button next to the member's name.
        </h4>
    </div>
<% } %>
<h2>Group Members:</h2>

<% if (editable) { %>
<div id="members" class="row editable">
<% } else { %>
<div id="members" class="row">
<% } %>
    <% group.groupies.forEach(function(groupie){ %>
        <% if (editable) { %>
        <div class="member"><div class="membername"><h3><%= groupie.username %></h3></div></div>
        <% } else { %>
        <div class="member"><div><h3><%= groupie.username %></h3></div></div>
        <% } %>
    <% }) %>
</div>
<br>
<hr>
<div class="besttimes">
    <div class='row'>
        <div class='allmembers col-xs-4 btn btn-default active'>
            <h3>All Members</h3>
        </div>
        <div class='onlycommon col-xs-4 btn btn-default'>
            <h3>Common Time</h3>
        </div>
        <div class='pairs col-xs-4 btn btn-default'>
            <h3>Pairs</h3>
        </div>
    </div>
    <div class='displayedmembers'>
        
    </div>
</div>


<% include partials/footer %>