

<% include partials/header %>



<h2>Welcome to group <%= group.name %></h2><br>
<h3>
Here you can see the combined common time of all the group members<br>
    as well as all the combinations of members with common time.
</3>
<h2>Group Members:</h2>
<div id="members" class="row">
    <% group.groupies.forEach(function(groupie){ %>
        <div class="member"><h3><%= groupie.username %></h3></div>
    <% }) %>
</div>
<br>
<hr>
<div class="besttimes">
    <div class='row'>
        <div class='allmembers col-xs-4 btn btn-default active'>
            <h3>All Members</h3>
        </div>
        <div class='onlycommon col-xs-4 btn btn-default'>
            <h3>Common Time</h3>
        </div>
        <div class='pairs col-xs-4 btn btn-default'>
            <h3>Pairs</h3>
        </div>
    </div>
    <div class='displayedmembers'>
        
    </div>
</div>


<script type="text/javascript" src="/timecalc.js"></script>
<% include partials/footer %>