
<% include partials/header %>




    <% if(user) { %>
        
        <div class="row">
            <div class="col-md-12">
                <h3>My Groups</h3>
                <h4>Group name:</h4>
                <form action="#" class="form-group">
                    <input type="text" name="groupname" id="groupname" class="form-control input-md" placeholder="Group name" maxlength="14" required>
                    <button id="addgroup" class="btn btn-default">Create Group</button>
                </form>
                <div id="groups" class="row" style="display:flex; flex-wrap: wrap;">
                
                </div>
            </div>
        </div>
        <div class="incgroups">
            <% if(list.groups.length > 0) { %>
                <h3>You are included in the following groups:</h3>
                <% list.groups.forEach(function(group){ %>
                    <a class="btn btn-default" href="/<%= group.groupid._id %>"><h3 class="firstone"><%= group.groupid.name %> </h3><h4>made by </h4><h3><%= group.authid.username %></h3></a>
                <% }) %>
            <% } %>
        </div>
    <% } else { %>
    <h2> Please register or login</h2>
    <% } %>
    <script type="text/javascript" src="/javascript.js"></script>



<% include partials/footer %>