
<% include ./partials/header %>


<div class="">
    <h1> login </h1>
    <form action="/login" method="post">
        <input type = "text" name="username" placeholder="username" maxlength="11">
        <input type = "password" name="password" placeholder="password">
        <input type = "submit" value="login">
    </form>
</div>




<% include ./partials/footer %>
