<% include ./partials/header %>
<div class="container">
    <h1>Sign Up</h1>

    <form action="/register" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" paceholder="password">
        <button>Submit</button>
    </form>
    
</div>

<% include ./partials/footer %>