<head>
    <title>Timed-Up</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/splash.css">
    <link rel="stylesheet" href="/stylesheets/svglogo.css">
    <script type="text/javascript" src="/splash.js"></script>
</head>
<body>
    <div class="container">
        <div class="mylogo">
            <% include staticsvg.svg%>
        </div>
        <div class="menu">
            <div class="row">
                <div class="col-md-4"><p class="btn btn-default btn-default">How does it work?</p></div>
                <div class="col-md-4"><p class="btn btn-default">Add the bot to your team</p></div>
                <div class="col-md-4"><p class="btn btn-default">Privacy Policy</p></div>
            </div>
        </div>
        <div class="beginning">
            <h2 class="text-center"><strong>Time coordination just got trivial!</strong></h2>
            <div class="beg">
                <p>
                    With Timed-Up you can find the best time for a meeting between your team members in a few minutes no matter how many team members you have!
                </p>
                <hr>
            </div>
        </div>
        <div class="first">
            <div class="row">
                <div class="col-md-3">
                    <div class="desc">
                        <p><em>
                            After you login either by choosing the Slack method (recommended) or the local method, you should
                             first add free time to your free time page! It's really easy to do. 
                             Just drag and drop to add your free time.
                        </em></p>
                    </div>
                </div>
                <div class="col-md-9">

                </div>
            </div>
        </div>
    </div>
    
</body>