html {
    height: 100%;
}
body {
    background-color:rgba(198, 197, 206, 1);
    color: rgba(41, 41, 41, 1);
    height: 100%;
    font-family: "Montserrat";
}

.container-fluid{
    background-color:rgba(198, 197, 206, 1);
    height: 100%;
    padding: 0 5%;
}

.instructions {
    width: 80%;
}

hr {
    border-color: black;
}


#groups {
    color: rgba(41, 41, 41, 1);
    font-size: 18px;
    /*overflow: scroll;*/
}

.hidden {
    display: none;
}

.deletelist:hover {
    cursor: pointer;
}

.myfriendlist {
    max-height: 250px;
    overflow-y: scroll;
}

.friendbox {
    border-radius: 4px;
    text-align: center;
    color: rgba(96, 104, 123, 1);
    font-size: 22px;
    margin: 5px;
}

.friendbox .col-xs-3 {
    border-right: 1px solid rgba(96, 104, 123, 1);
}


.title:hover {
    cursor: pointer;
}

.deletegroup:hover {
    cursor: pointer;
}

.friendname:hover {
    cursor: pointer;
}

#friendlist li {
    font-size: 30px;
}

li {
    list-style-type: none;
}

.label{
    font-size: 40px;
    text-align: center;
    color: rgba(41, 41, 41, 1);
}

.navbar .text-center{
    color: rgba(41, 41, 41, 1);
    font-size: 30px
}

.formbut {
    margin: 30px;
}


#groupname{
    width: 20%;
}

.incgroups {
    max-height: 300px;
    overflow-y: auto;
}

.allmembers, .onlycommon, .pairs {
    background-color: rgba(222, 227, 232, 1);
}

.inc {
    background-color:rgba(188, 197, 205, 1);
    padding: 10px;
    -webkit-box-shadow: 0px 4px 6px 2px rgba(50, 50, 50, 0.68);
    -moz-box-shadow:    0px 4px 6px 2px rgba(50, 50, 50, 0.68);
    box-shadow:         0px 4px 6px 2px rgba(50, 50, 50, 0.68);
}

/*=========================*/
/*        Scrollbar        */ 
/*=========================*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 33px;
  height: 33px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 27px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 78px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/*=========================*/
/*      End Scrollbar      */ 
/*=========================*/