
.navbar-default{
    padding: 0;
    margin: 0;
    background-color:#383838;
    
    color:#212121;
    border:0 none;
    font-size: 14px !important;
}

.col-md-3 {
    background : #383838;
}
.navbar-default .navbar-collapse {
    background-color: #383838;
}
.col-md-3 {
    background:  #383838;
    /*height: 100%;*/
}
.myname {
    color: #CFD8DC;
    /*font-size: 20px;*/
}
@media(max-width: 993px) {
    .navbar-default {
        /*display: none !important;*/
    }
    .col-md-3 {
        height: auto;
        /*display: none;*/
    }
    /*.navbar-default .navbar-collapse {
        height: 200px !important;
    }*/
}
@media(min-width: 992px) {
    .navbar-default .navbar-collapse {
        border: 0 none;
        -webkit-box-shadow: none;
        box-shadow: none;
        /*height: 100% !important;*/
    }
    .navbar-default .navbar-collapse h3{
        color: #CFD8DC;
        font-weight: bold;
    }
    .navbar-default .navbar-collapse .friendbox{
        color: #212121;
    }
    .navbar-nav,
    .navbar-nav > li,
    .navbar-left,
    .navbar-right,
    .navbar-header {
        float: none !important;
    }
}

.btn {
    padding: 7px 12px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn:active, .btn.active {
    /*background: #7fb9c4;*/
    background: #212121;
    box-shadow: none;
    font-weight: 800!important;
}

.navbar-default .navbar-collapse .btn{
    /*background: #FFC107;*/
    border-radius: 0;
    /*border: 0 none;*/
    /*box-shadow: none;*/
    color:#212121;
    font-weight: 800!important;
    
}

.navbar-default .navbar-collapse .btn:hover {
    /*background: none;*/
    background-color: #CFD8DC;
    color: #FFC107;
    font-weight: 800!important;
}

/*navigation buttons css*/
.navbut li .btn{
    background: #FFC107;;
    width: 100%;
    /*border: 4px solid #FFC107;*/
    display: block;
    text-align: center;
    /*border-radius: 1em !important;*/
    margin-left: -5%;
    -webkit-box-shadow: 0px 3px 11px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow:    0px 3px 11px 0px rgba(50, 50, 50, 0.52);
    box-shadow:         0px 3px 11px 0px rgba(50, 50, 50, 0.52);
}
.navbut li .btn:hover {
    background: rgba(255, 193, 5, 0.30)!important;
    color:#212121!important;
}

hr {
    border-color:rgba(207, 216, 220, .2) !important;
    border-width: 2px;
}