

.hidd {
    display: none;
}

.bigcursor {
  transform-origin: 61.2px 31.2px;
  transform: rotate(0deg);
}

.smcursor {
  transform-origin: 61.2px 31.2px;
  transform: rotate(-60deg);
}

.smcursor, .bigcursor, .let {
  fill: rgba(243, 116, 53, 1);
}

.letU, .letP {
  fill: rgba(243, 116, 53, 1);
}

.center {
  width: 30px;
  fill: transparent;
  stroke-width: 2;
  stroke: rgba(50, 50, 50, 0.6);
}
.firstanimationsm {
  animation : first2 3s ease-in-out;
}

.firstanimationlg {
  animation : first 3s ease-in-out;
}

.bounce {
  animation: bouncy 1s;
}

@keyframes bouncy {
  0% {
    transform: translate(0, -100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes first {
  0% {
    transform-origin: 61.2px 31.2px;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 61.2px 31.2px;
    transform: rotate(3600deg);
  }
}

@keyframes first2 {
  0% {
    transform-origin: 61.2px 31.2px;
    transform: rotate(-60deg);
  }
  100% {
    transform-origin: 61.2px 31.2px;
    transform: rotate(0deg);
  }
}